.form {
  width: 550px;
  padding: 32px 83px;
  display: flex;
  flex-direction: column;
  background-color: #090708;
  border-radius: 8px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.form p {
  align-self: flex-start;
  text-align: left;
  padding-left: 35px;
  font-size: 14px;
  color: #ffffff;
}

.form p a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}

.form button {
  margin-top: 8px;
}

.or {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.or::before,
.or::after {
  content: "";
  width: 82px;
  height: 1px;
  background: #848383;
}

.or::before {
  margin-right: 16px;
}

.or::after {
  margin-left: 16px;
}

.logoBtnRow {
  display: flex;
  gap: 20px;
}

.logoBtnRow a {
  text-decoration: none;
}

@media (max-width: 561px) {
  .form {
    padding: 32px 35px;
    width: 90%;
  }
}
