.label {
  display: block;
  margin-bottom: 9px;
  color: var(--light-text-color);
}

.field {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 16px;
  color: var(--main-text-color);
}
.field ::placeholder {
  color: #a7adb8;
  font-size: 14px;
  line-height: 100%;
}
